body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
} 

img {
    width: 8em;
    height: 6em;
}

.container {
    position: absolute;
    height: 75%;
    width: 100%;
    left: 7%;
    top: 35%;
    /* top: 60px; */
    /* left: calc(45% - 300px); */
    display: flex;
    text-align: center;
    
}
.card {
    /* display: flex; */
    height: 25%;
    width: 25%;
    background-color: orangered;
    border-radius: 10px;
    box-shadow: -1rem 0 5rem #000;
    /* margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    color:#17141d;
}

.textbox {
    visibility: hidden;
}
  
.card:hover .textbox {
    visibility: visible;
}

.card:not(:first-child) {
      margin-left: -50px;
}
  
.card:hover {
    transform: translateY(-60px);
    transition: 0.4s ease-out;
    color: #40464b;
    height: 50%;
}
  
.card:hover ~ .card {
    position: relative;
    left: 90px;
    transition: 0.4s ease-out;
}
  
.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}
  
.bar {
    position: absolute;
    top: 100px;
    left: 10px;
    height: 5px;
    width: 120px;
}
  
.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}
  
.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgb(80, 15, 100) 0%,rgb(10, 3, 3) 50%, rgb(80, 15, 100) 100%);
    transition: 0.6s ease-out;
}
  
.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}
  
.images {
    fill: #17141d;
    stroke-width: 2px;
}
  
.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}
#searchBox{
    align-content: center;
    text-align: center;
    position: absolute;
    clear: both;
    top: 65%;
    left: 45%;
}
#search-Box{
    align-content: center;
    text-align: center;
    position: absolute;
    clear: both;
    top: 5%;
    left: 45%;
}
p {
    text-align: center;
}
input[type=text], select {
    width: 75%;
    padding: 12px 20px;
    display: inline-block;
    border: 4px solid rgb(73, 69, 69);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: thistle;
}
  
input[type=submit] {
    width: 50%;
    background-color: #2e3033;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
input[type=submit]:hover {
    background-color: #595e66;
    box-shadow: 1px 1px #828f99, 2px 2px #40464b, 3px 3px #92989c;
    transform: translateX(-3px);
}

#p-title {
    text-align: center;
}